extends ../layouts/app

block content

  form(action="users/create" method="POST")
    input(type="email" placeholder="Email" required)
    input(type="password" placeholder="Password" required)
    input(type="password" placeholder="Confirm Password" required)
    input(type="submit" value="Submit")
